textarea { 
    resize: vertical; 
}

#header {
    position: fixed;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
#header h1{
    margin: 10px 0;
}

#main h2 {
    margin-top: 0;
} 

#main {
    padding-top: 70px;
    padding-bottom: 16px;
}

.affixed-column {
    padding-top: 16px;
}
@media(min-width: 768px) {
    .affixed-column {
        position: fixed;
        width: 100%;
    }  
}